python-dotenv
websockets
pandas
numpy
certifi
requests
discord.py
openai
google-generativeai
groq


tensorflow
scikit-learn
joblib
aiohttp
pyngrok
psutil
pyzmq
numba
sqlalchemy
fastapi
uvicorn
prometheus_client
redis
psycopg2-binary
pytest
bandit
vectorbt
